<p>Hey {{ name }},</p>
<p>Use '{{token}}' as your Onetime password... it expires in 2min, please don't share.</p>
{{!-- <p>
    <a href="{{ url }}">Confirm</a>
</p> --}}

<p>If you did not request this email you can safely ignore it.</p>
